:root {
  --sn-stylekit-grey-5: #F5FAFA;

  --sn-stylekit-neutral-color: #62B9BF;

  --sn-stylekit-info-color: #29969E;
  --sn-stylekit-info-color-darkened: #19666B;
  --sn-stylekit-info-backdrop-color: #19666B0F;

  --sn-stylekit-background-color: #FFFFFF;
  --sn-stylekit-border-color: #DAF1F2;

  --sn-stylekit-foreground-color: #252525;

  --sn-stylekit-contrast-background-color: #FFFFFF;
  --sn-stylekit-contrast-foreground-color: var(--sn-stylekit-foreground-color);
  --sn-stylekit-contrast-border-color: var(--sn-stylekit-border-color);

  --sn-stylekit-secondary-background-color: #F5FAFA;
  --sn-stylekit-secondary-foreground-color: var(--sn-stylekit-foreground-color);
  --sn-stylekit-secondary-border-color: var(--sn-stylekit-border-color);

  --sn-stylekit-secondary-contrast-background-color: #DAF1F2;
  --sn-stylekit-secondary-contrast-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-editor-background-color: #FFFFFF;

  --sn-stylekit-input-placeholder-color: var(--sn-stylekit-grey-1);
  --sn-stylekit-input-border-color: var(--sn-stylekit-border-color);
}

/* Notes list: Fix content jump when note selected */
#notes-column .note, .notes .note {
  border-left: 2px solid transparent;
}

/* Notes list: Make bottom borders full width */
#notes-column .note .icon, .notes .note .icon {
  border-bottom: 1px solid var(--sn-stylekit-border-color);
}